
@<%= issue.user.login %> Thanks for the issue! If you're reporting a bug, please be sure to include:

- The version of `assemble` you are using.
- Your assemblefile.js (This can be in a gist)
- The commandline output. (Screenshot or gist is fine)
- What you expected to happen instead.

<% if (repository.name === "assemble") { %>
If this issue is about using assemble with grunt, please open an issue
on the [grunt-assemble](https://github.com/assemble/grunt-assemble/issues/new) repository.
<% } %>
